body {
  overflow-x: hidden;
  height: 100vh;
  scroll-behavior: smooth;
}
* {
  margin: 0;
}
p,
strong,
a,
span,
small,
pre {
  font-family: "Lato", sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
}
