$col-primary: #3BB77E;
$col-blue: #67BCEE;
$col-secondary: #7E7E7E;
$col-pink: #FFF3FF;
$col-red-apple: #FEEFEA;
$col-light-green: #ECFFEC;
$col-light-green2: #DEF9EC;
$col-olive: #F2FCE4;
$col-yellow: #FFFCEB;
$col-orange: #FFF3EB;
$border-col: #ECECEC;